In [1]:
from IPython.display import HTML
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import urllib2
import bs4
import time
import operator
import re 
    
%matplotlib inline
import seaborn as sns

In [72]:
#Time Series Data
#UR = pd.read_csv('UnempRate.csv', sep=',')
crime = pd.read_csv('violent_crime_count_age17andup.csv', sep=',', na_values=[" ", ""])
#prescription = pd.read_csv('prescription_rate.csv', sep=',', na_values=[" ", ""])
#population = pd.read_csv('population.csv', sep=',', na_values=[" ", ""])
# birth_rate = pd.read_csv('birth_rate.csv', sep=',', na_values=[" ", ""])
# death_rate = pd.read_csv('death_rate.csv', sep=',', na_values=[" ", ""])

In [58]:
#Non-Time Series Data
data = pd.read_csv('cleaned_GaCountiesODDeath.csv', na_values=[" ", ""] ,sep=',', index_col=0)
normalized_data = data/population

hospital = pd.read_csv('cleaned_GaHospitals.csv', na_values=[" ", ""] ,sep=',', index_col=0).fillna(0)
dropbox = pd.read_csv('drug_dropbox.csv', na_values=[" ", ""] ,sep=',').fillna(0)
hospital=hospital.rename(columns = {'Count':'hospital_count'})
dropbox=dropbox.rename(columns = {'COUNT':'dropbox_count'})
dropbox=dropbox.rename(columns = {'24Availability':'dropbox_247availability'})

In [39]:
#data[['Counties','Rural', '2016', '1yrlag', '2yrlag', '10yrlag']]
normalized_data['1yrlag']=(normalized_data['2016']-normalized_data['2015'])/normalized_data['2015']
normalized_data['5yrlag']=(normalized_data['2016']-normalized_data['2011'])/normalized_data['2011']
normalized_data['10yrlag']=(normalized_data['2016']-normalized_data['2006'])/normalized_data['2006']
normalized_data=normalized_data.replace([np.inf, -np.inf], np.nan)
normalized_data = normalized_data.fillna(0)

In [41]:
df = normalized_data[['County','Rural', '1yrlag', '5yrlag', '10yrlag','2016']].copy()

In [59]:
df1 = pd.concat([df, hospital['hospital_count'], dropbox['dropbox_247availability'], dropbox['dropbox_count']], axis=1)

In [60]:
df1.head(10)

,County,Rural,1yrlag,5yrlag,10yrlag,2016,hospital_count,dropbox_247availability,dropbox_count
0,Appling,1,0.000000,0.000000,0.000000,3,0,1,1
1,Atkinson,1,0.000000,0.000000,0.000000,1,0,0,0
2,Bacon,1,0.000000,-1.000000,-1.000000,0,0,0,1
3,Baker,1,-1.000000,0.000000,0.000000,0,0,0,1
4,Banks,1,0.333333,-0.333333,3.000000,4,2,1,1
5,Ben Hill,1,0.000000,0.000000,0.000000,1,0,0,1
6,Berrien,1,0.000000,0.000000,-0.666667,1,1,0,2
7,Bleckley,1,-0.666667,0.000000,0.000000,1,1,1,2
8,Brantley,1,0.400000,0.000000,2.500000,7,1,1,1
9,Brooks,1,0.000000,-0.500000,0.000000,1,1,0,1

In [74]:
crime['1yrlag']=(crime['2016']-crime['2015'])/crime['2015']
crime['5yrlag']=(crime['2016']-crime['2011'])/crime['2011']
crime['10yrlag']=(crime['2016']-crime['2006'])/crime['2006']

,County,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Appling,18,3,19,9,135,41,0,22,1,0,118,91,54,2,4
1,Atkinson,40,0,22,0,21,26,20,6,3,4,0,9,0,0,0
2,Bacon,26,2,29,2,1,14,17,28,2,0,0,0,0,2,0
3,Baker,10,1,18,1,3,3,9,26,5,0,0,2,3,7,0
4,Baldwin,465,14,524,0,393,293,353,494,514,520,547,363,425,339,403
5,Banks,179,1,218,2,155,104,20,115,154,141,180,231,210,250,77
6,Barrow,391,9,419,7,302,309,281,373,357,417,285,300,346,406,336
7,Bartow,573,1,957,26,574,438,465,670,753,621,703,802,715,729,690
8,Ben Hill,218,3,132,2,129,101,27,0,13,23,47,119,89,140,114
9,Berrien,79,1,3,152,37,64,69,56,61,66,81,82,52,46,43
10,Bibb,1670,0,2122,88,1729,1677,1242,1436,1740,1788,1762,1657,1611,1854,1816
11,Bleckley,62,5,134,1,76,60,74,66,53,28,70,61,62,93,130
12,Brantley,107,5,203,0,122,113,140,63,64,87,68,93,66,49,24
13,Brooks,220,0,212,7,87,75,64,95,107,82,67,73,62,50,34
14,Bryan,135,1,138,2,65,49,86,81,63,80,61,64,55,82,43
15,Bulloch,0,516,823,0,419,260,483,650,642,717,623,534,569,511,493
16,Burke,123,0,106,0,52,71,63,67,61,51,50,31,29,47,42
17,Butts,238,4,245,0,78,16,15,77,95,70,78,71,79,63,76
18,Calhoun,85,10,59,0,16,18,30,29,25,27,37,21,10,23,9
19,Camden,443,0,482,2,214,222,241,428,433,260,329,326,358,616,148
20,Candler,76,5,84,3,17,31,14,9,9,13,7,11,10,13,10
21,Carroll,300,7,821,11,323,662,724,809,921,1036,917,856,951,924,960
22,Catoosa,191,2,316,0,436,356,365,378,515,366,419,503,511,570,537
23,Charlton,83,1,98,0,32,30,68,99,79,55,105,44,46,35,66
24,Chatham,688,2196,3147,11,1484,1701,1791,2063,1975,2175,1979,1994,1734,1606,1737
25,Chattahoochee,34,1,30,0,21,9,0,0,0,0,14,2,4,9,1
26,Chattooga,1,23,32,0,12,10,2,30,48,29,43,48,76,64,77
27,Cherokee,436,7,425,0,197,183,305,529,745,678,706,770,694,934,777
28,Clarke,1683,0,1434,0,779,761,874,1013,1030,1039,1057,939,976,845,883
29,Clay,16,5,34,0,15,17,11,19,3,14,18,13,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Talbot,4,1,4,0,0,4,0,0,4,18,8,36,22,25,13
130,Taliaferro,17,8,14,0,6,7,10,6,14,21,11,7,4,8,7
131,Tattnall,169,4,228,1,92,78,79,116,82,118,112,76,50,88,48
132,Taylor,67,3,0,3,21,37,24,27,47,43,36,22,47,20,11
133,Telfair,165,1,116,0,68,39,30,36,49,34,47,35,39,30,23
134,Terrell,148,1,84,4,51,29,27,39,28,41,37,42,38,60,46
135,Thomas,269,59,398,0,286,333,316,323,373,376,565,546,399,405,451
136,Tift,454,0,358,0,195,101,450,367,392,375,451,432,399,294,406
137,Toombs,389,0,250,1,93,126,206,189,181,208,239,172,215,194,187
138,Towns,51,2,40,1,20,27,34,40,26,30,30,24,23,28,34
139,Treutlen,45,0,0,64,54,62,50,60,76,34,29,24,17,22,11
140,Troup,822,0,75,726,509,448,434,514,661,706,503,596,552,595,636
141,Turner,140,5,88,6,72,51,67,51,37,82,70,64,81,193,62
142,Twiggs,53,3,5,13,12,79,84,11,22,52,40,40,28,37,30
143,Union,0,4,0,4,1,5,2,12,51,92,70,146,107,125,88
144,Upson,233,3,297,1,110,104,78,139,135,146,160,189,200,94,100
145,Walker,339,2,317,2,262,266,313,426,434,437,454,333,307,328,352
146,Walton,159,5,343,5,269,270,193,401,470,414,637,413,444,450,427
147,Ware,825,4,1019,0,461,376,492,512,445,437,553,424,430,484,427
148,Warren,20,1,10,0,0,0,6,0,4,0,2,15,12,4,0
149,Washington,233,10,130,19,0,71,83,84,87,71,92,85,72,67,69
150,Wayne,0,0,1,1,0,0,1,33,154,165,252,276,338,322,203
151,Webster,0,0,0,3,0,0,0,0,0,0,8,7,11,3,0
152,Wheeler,29,1,23,0,0,18,27,30,4,7,1,0,1,0,0
153,White,253,3,274,0,27,104,141,83,100,112,132,128,130,103,79
154,Whitfield,1191,0,1317,4,522,469,623,808,604,860,1115,994,1030,1100,1098
155,Wilcox,0,3,0,0,0,1,5,5,7,2,7,5,10,5,1
156,Wilkes,142,8,114,4,50,63,52,45,23,46,60,38,38,41,41
157,Wilkinson,77,1,98,4,31,47,42,44,53,56,71,40,31,38,31
158,Worth,170,12,144,8,49,40,80,135,143,94,131,119,109,95,70