In [1]:
from IPython.display import HTML
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import urllib2
import bs4
import time
import operator
import re 
    
%matplotlib inline
import seaborn as sns

In [84]:
prescription = pd.read_csv('prescription_rate.csv', sep=',', na_values=[" ", ""])

In [85]:
prescription

,County,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Appling,88.9,116.3,123.4,106.9,116.3,105.5,130.3,128.6,129.7,129.5,123.7
1,Atkinson,49.4,71.8,66.6,66.8,71.8,71.4,75.9,74.1,71.3,77.9,67.9
2,Bacon,145.7,198.7,169.1,149.0,198.7,165.8,175.3,139.4,145.7,151.2,157.5
3,Baker,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Baldwin,85.0,116.5,91.7,99.7,116.5,120.0,120.4,118.2,113.0,102.8,98.4
5,Banks,7.0,36.4,20.8,21.1,36.4,39.1,60.2,59.6,51.1,48.0,42.3
6,Barrow,92.0,87.3,94.9,97.0,87.3,91.3,97.4,93.0,92.3,87.7,84.6
7,Bartow,97.5,115.2,112.1,116.0,115.2,117.7,120.5,115.0,112.1,104.6,102.9
8,Ben Hill,133.3,142.5,154.7,143.8,142.5,138.7,179.8,181.5,199.0,208.1,199.4
9,Berrien,100.1,100.9,99.8,97.7,100.9,96.5,95.8,71.9,61.8,57.3,56.1
10,Bibb,142.0,166.8,160.3,160.3,166.8,165.4,162.3,156.8,145.4,138.8,130.7
11,Bleckley,128.9,152.3,130.7,131.2,152.3,143.7,153.3,141.7,147.0,143.9,131.8
12,Brantley,0.0,50.5,0.0,40.6,50.5,70.1,64.4,66.0,71.4,64.7,55.2
13,Brooks,75.7,102.8,80.3,90.2,102.8,114.1,116.0,88.3,73.6,88.1,91.0
14,Bryan,55.4,81.9,57.4,69.8,81.9,76.5,97.2,94.1,93.7,88.8,90.7
15,Bulloch,78.0,99.3,97.5,96.0,99.3,93.8,88.3,90.4,93.9,95.9,84.7
16,Burke,72.0,81.3,78.1,79.0,81.3,76.4,87.8,90.4,93.0,88.0,84.3
17,Butts,85.6,88.3,93.1,86.4,88.3,86.5,94.9,99.7,103.5,104.9,100.2
18,Calhoun,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0,2.2
19,Camden,87.0,95.9,96.3,94.5,95.9,89.2,83.7,82.5,82.2,74.2,73.9
20,Candler,130.0,137.6,127.3,122.1,137.6,121.7,146.4,140.3,151.1,160.8,169.7
21,Carroll,120.0,139.4,123.5,133.2,139.4,137.9,139.8,132.7,126.1,119.3,116.6
22,Catoosa,138.3,174.0,150.2,168.0,174.0,173.1,185.9,166.8,148.9,124.0,116.1
23,Charlton,91.7,86.8,89.4,87.7,86.8,78.4,95.0,104.5,101.1,100.0,104.0
24,Chatham,97.5,104.5,102.1,100.6,104.5,99.8,96.8,94.1,91.7,87.8,84.9
25,Chattahoochee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,Chattooga,103.4,110.5,120.7,116.9,110.5,124.1,159.3,153.6,150.2,131.9,131.4
27,Cherokee,75.5,82.4,77.0,80.1,82.4,78.8,77.2,73.6,71.3,68.0,70.0
28,Clarke,113.4,122.9,128.5,120.3,122.9,127.1,130.2,119.1,104.7,98.3,97.1
29,Clay,108.6,130.4,123.1,134.1,130.4,117.0,108.8,87.9,67.7,55.1,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...
129,Talbot,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
130,Taliaferro,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
131,Tattnall,61.3,68.0,72.8,66.3,68.0,65.7,61.7,58.5,54.8,56.8,54.1
132,Taylor,0.0,42.7,42.5,40.6,42.7,45.2,47.7,44.3,44.9,42.2,72.9
133,Telfair,0.1,52.7,32.5,47.6,52.7,50.8,52.5,65.8,59.5,50.3,58.6
134,Terrell,0.0,47.2,0.0,30.2,47.2,50.1,57.1,50.8,41.1,48.9,51.3
135,Thomas,93.9,101.2,100.2,102.2,101.2,101.3,110.8,106.8,103.6,100.7,107.4
136,Tift,125.8,146.3,131.5,141.1,146.3,141.4,156.6,158.3,146.2,145.1,149.2
137,Toombs,190.8,205.0,183.2,190.9,205.0,201.0,189.3,180.7,186.4,155.9,152.8
138,Towns,69.9,100.2,91.3,97.3,100.2,106.3,116.2,125.0,120.4,117.6,111.0
139,Treutlen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.6,39.6,64.7,76.6
140,Troup,74.8,117.0,90.3,103.9,117.0,117.9,139.8,125.2,113.2,101.5,98.9
141,Turner,80.9,71.4,73.3,70.8,71.4,70.7,79.3,79.7,85.5,94.2,84.2
142,Twiggs,29.9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.6,0.9,1.3
143,Union,146.9,160.7,150.8,158.7,160.7,162.4,171.6,170.0,163.9,144.5,128.6
144,Upson,92.0,117.3,99.0,110.2,117.3,131.3,145.2,149.7,148.5,137.7,138.4
145,Walker,31.8,48.5,43.9,44.2,48.5,45.9,47.1,48.5,54.5,56.1,54.8
146,Walton,93.6,114.7,108.2,114.5,114.7,113.7,126.8,119.0,113.4,114.8,111.0
147,Ware,212.2,246.8,246.3,245.4,246.8,225.3,215.0,212.6,211.6,205.9,221.3
148,Warren,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.3,1.0,0.2
149,Washington,78.8,88.1,75.1,78.2,88.1,90.9,102.0,109.2,112.1,103.5,95.6
150,Wayne,130.7,169.3,135.6,145.8,169.3,167.3,167.2,153.1,148.0,152.0,144.0
151,Webster,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.8,51.7,60.0
152,Wheeler,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.0,41.7,44.0,32.9
153,White,63.3,74.9,65.5,66.2,74.9,85.9,94.4,96.2,95.6,92.4,100.9
154,Whitfield,72.5,102.9,84.5,95.8,102.9,99.1,106.7,104.1,102.6,97.0,93.4
155,Wilcox,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,2.1,3.5
156,Wilkes,118.1,155.2,145.0,156.7,155.2,158.9,170.5,173.1,157.0,148.4,138.0
157,Wilkinson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69.4,92.6,90.0,92.0
158,Worth,73.5,99.5,86.5,91.8,99.5,95.6,96.2,97.9,97.7,96.2,95.4

In [72]:
#Time Series Data
#UR = pd.read_csv('UnempRate.csv', sep=',')
crime = pd.read_csv('violent_crime_count_age17andup.csv', sep=',', na_values=[" ", ""])
#prescription = pd.read_csv('prescription_rate.csv', sep=',', na_values=[" ", ""])
#population = pd.read_csv('population.csv', sep=',', na_values=[" ", ""])
# birth_rate = pd.read_csv('birth_rate.csv', sep=',', na_values=[" ", ""])
# death_rate = pd.read_csv('death_rate.csv', sep=',', na_values=[" ", ""])

In [82]:
death_rate = pd.read_csv('death_rate.csv', sep=',', na_values=[" ", ""])

In [83]:
death_rate

,County,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Appling,NaN,10.784145,11.323668,9.534079,9.984487,9.650385,11.696567,11.183859,10.737434,10.705866,NaN,10.550072,9.394515,10.236864,11.139185,11.330063,11.609928
1,Atkinson,NaN,7.481788,10.172807,8.572708,9.484067,9.200328,11.107644,9.991365,7.089165,7.913319,NaN,7.894265,9.749639,9.567060,9.111341,5.557905,7.339229
2,Bacon,NaN,12.858556,11.638317,11.642370,11.811414,12.883556,10.765202,11.860921,12.419416,11.262007,NaN,12.213192,10.099205,10.452028,11.868112,9.780386,9.623449
3,Baker,NaN,9.640341,11.011011,10.113468,10.231425,8.196721,7.343631,6.800942,3.991485,2.969362,NaN,7.996446,4.787552,7.480551,6.994070,8.413836,8.557845
4,Baldwin,NaN,9.211438,8.643639,9.268601,8.566823,8.470020,8.791401,8.691412,9.286303,8.875835,NaN,8.148703,8.667933,8.032215,8.740841,9.225375,9.980679
5,Banks,NaN,8.928267,8.673316,8.533543,6.079224,8.061956,8.615846,7.554355,8.336354,7.829309,NaN,7.348338,9.352439,7.281288,7.708498,9.251197,8.354808
6,Barrow,NaN,7.892909,7.260441,7.823087,7.467945,6.817317,6.552193,7.035184,6.592687,6.909482,NaN,7.380656,7.056084,7.195058,7.802809,7.373944,7.725000
7,Bartow,NaN,7.976136,7.554448,8.207048,8.007738,7.711065,7.595830,7.865156,7.862942,8.241988,NaN,8.312046,7.550365,8.329450,8.330006,8.618663,8.548997
8,Ben Hill,NaN,12.824568,12.647946,11.625869,13.180247,13.065034,11.002621,11.354282,11.133403,12.034514,NaN,11.813819,11.722862,12.175951,11.934475,12.818302,12.949100
9,Berrien,NaN,9.192991,11.046314,9.687902,10.944245,11.649313,9.905448,10.961694,11.331277,10.391593,NaN,10.485537,9.497366,10.895186,9.838147,10.382456,11.380700
10,Bibb,NaN,10.836336,10.656385,10.842802,10.439138,10.788570,10.700584,10.834159,10.730071,10.586908,NaN,10.335038,9.891977,10.921787,9.958506,11.078080,11.374469
11,Bleckley,NaN,11.082694,8.608566,11.678957,10.622155,11.174116,9.484486,10.218226,10.310889,8.192884,NaN,11.799862,10.241799,10.986014,12.385357,8.145363,10.251631
12,Brantley,NaN,8.474864,8.632805,9.200119,10.728625,8.197796,11.098417,10.780271,10.992564,9.313080,NaN,9.992978,9.862837,10.320758,9.380965,9.826543,10.705358
13,Brooks,NaN,12.452312,11.856858,12.995452,13.782827,12.524802,10.049012,10.467999,10.236101,11.390285,NaN,10.850022,9.796795,12.902402,12.564908,12.617690,12.811116
14,Bryan,NaN,6.089878,7.065118,6.231635,7.413431,7.369170,7.349693,6.927936,6.483669,6.295020,NaN,7.724263,6.896117,7.248593,7.167709,6.299075,6.733818
15,Bulloch,NaN,7.417743,6.713048,6.662293,7.059718,6.697537,7.055635,6.657932,7.153129,7.079879,NaN,6.841999,6.377945,6.701831,6.417349,7.139529,7.178829
16,Burke,NaN,9.796064,10.548616,10.450196,11.032482,11.870086,10.356782,11.327216,11.650570,11.131319,NaN,10.191246,9.679630,9.381311,11.615929,11.176872,10.873872
17,Butts,NaN,9.875065,9.327820,9.245493,8.713106,8.678253,9.175923,8.899348,9.785143,9.922099,NaN,10.484485,9.108127,12.004030,11.244153,10.271710,10.514093
18,Calhoun,NaN,10.035842,11.205379,11.605416,11.080332,13.155731,13.365234,18.717906,11.696870,6.421576,NaN,8.454106,10.588506,10.767574,11.595547,6.517691,7.037298
19,Camden,NaN,4.214199,4.438329,4.773217,5.596932,5.076198,4.551472,5.485877,5.223521,5.568831,NaN,5.406529,6.271503,6.083754,6.376688,6.522883,6.120264
20,Candler,NaN,14.195584,13.541667,12.926209,14.202972,11.691232,10.840108,9.768836,10.799446,11.900826,NaN,11.506135,11.806798,10.236898,12.271624,10.630986,12.542916
21,Carroll,NaN,8.497558,8.495757,8.759728,8.117509,8.106177,8.085747,7.439266,7.611571,7.962933,NaN,8.915828,7.742516,8.651470,8.719659,9.460482,9.058238
22,Catoosa,NaN,8.770310,8.667858,8.253046,8.760930,8.000068,8.154674,7.792250,6.875040,7.701375,NaN,7.711584,8.285336,8.101452,8.386289,9.735173,9.917230
23,Charlton,NaN,8.109674,8.978032,7.757071,9.627637,7.290631,5.433510,8.333723,6.161027,7.700158,NaN,7.080050,9.116383,8.934318,8.767882,6.633243,6.351447
24,Chatham,NaN,10.039941,9.448034,9.445150,9.666022,9.250732,9.440711,9.350938,9.292702,9.099801,NaN,8.375530,7.801103,8.216219,8.276856,8.513164,8.612065
25,Chattahoochee,NaN,2.325281,1.763217,2.292764,2.174846,1.658178,2.152129,1.973107,1.372882,1.561613,NaN,3.378529,2.672345,2.712622,2.787799,2.305919,2.233738
26,Chattooga,NaN,10.796274,11.093717,9.578911,11.727283,10.835615,10.359911,11.161809,11.170064,10.885830,NaN,10.302291,12.277830,13.063899,12.987534,12.105126,11.507665
27,Cherokee,NaN,5.455205,5.239178,5.145138,5.535061,5.233488,4.959199,4.928299,4.927477,5.183455,NaN,5.608258,5.596032,5.677467,5.612459,6.152038,6.138723
28,Clarke,NaN,6.444610,5.950547,5.978646,6.498427,5.275402,5.629921,5.484908,5.975216,6.030342,NaN,5.383158,5.288655,5.696187,6.115676,5.968976,6.209329
29,Clay,NaN,12.784302,14.716924,14.300928,16.674386,16.037736,12.974684,11.981712,7.880221,5.416600,NaN,13.299557,12.142515,15.632633,12.709793,8.737864,11.475410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Talbot,NaN,14.633031,13.499166,12.382481,12.765303,11.902945,12.779553,12.643766,8.936826,10.652463,NaN,10.435038,11.712591,12.470172,11.539061,11.494253,13.608710
130,Taliaferro,NaN,11.186770,10.314342,8.080808,20.408163,12.782956,18.842530,12.402265,6.532390,4.398021,NaN,17.043785,14.226437,12.507445,13.621558,11.421701,19.808109
131,Tattnall,NaN,9.534089,10.298103,9.554714,10.047124,10.054223,10.825912,10.658662,10.424101,10.051093,NaN,9.056366,9.127549,8.029915,8.719325,9.166667,10.060242
132,Taylor,NaN,12.640929,11.971269,12.383549,11.698563,12.563531,11.894451,12.394301,9.100334,9.714352,NaN,11.719657,9.733515,11.313564,12.350811,10.751404,10.032636
133,Telfair,NaN,13.265306,14.943960,14.390264,12.253391,9.992052,14.089308,10.954144,10.477519,11.757022,NaN,8.781291,9.411477,8.887277,9.288299,7.217151,9.986130
134,Terrell,NaN,10.949904,11.757682,13.720074,12.264281,12.654075,10.584029,11.020882,10.523239,13.794443,NaN,10.792509,10.628590,11.588866,11.335150,10.533823,11.513340
135,Thomas,NaN,11.412568,11.282577,10.632014,10.761237,9.744520,9.636443,10.503525,10.575974,10.495779,NaN,11.233944,11.095048,11.122651,10.757468,10.944611,11.230977
136,Tift,NaN,10.000649,8.413012,9.486186,8.652658,9.218193,8.610071,8.509825,8.736099,9.051255,NaN,9.552224,9.171634,9.250261,10.036214,9.983770,9.515635
137,Toombs,NaN,11.309398,10.461574,11.085839,10.491903,10.389903,10.443575,9.879592,9.668756,10.706256,NaN,10.144635,12.045308,10.788321,11.527908,11.715512,11.956882
138,Towns,NaN,13.934340,11.530671,15.294418,14.153294,14.223356,12.240019,12.555804,13.007832,13.367282,NaN,16.254753,15.521592,15.059532,14.848763,13.130677,14.631551
139,Treutlen,NaN,11.439328,10.827198,9.930915,9.867010,13.822203,10.753480,8.727273,8.057554,11.385469,NaN,12.990804,8.252892,11.796327,9.395973,6.654836,10.005974
140,Troup,NaN,11.273405,10.883670,11.150929,10.497087,10.222762,9.943876,9.932251,10.084930,10.141956,NaN,9.331652,9.048777,9.900413,9.234971,9.755887,10.532944
141,Turner,NaN,11.136793,10.955760,11.484652,10.937582,11.800653,9.844395,10.539764,9.721703,11.293358,NaN,13.334827,9.905552,10.944735,14.518610,14.661117,11.826217
142,Twiggs,NaN,10.234542,10.630792,8.928571,10.347721,9.742717,9.826590,10.044371,9.303692,10.337189,NaN,13.276328,9.232012,13.887254,14.139734,12.133590,17.488462
143,Union,NaN,10.894544,11.327531,12.581647,14.129301,11.544454,14.885620,13.714563,13.168842,14.000519,NaN,14.103645,13.165266,14.356068,14.479097,13.260619,12.793555
144,Upson,NaN,13.338635,12.841150,13.913296,14.655204,13.780064,13.000255,11.932263,12.502044,13.155265,NaN,12.845191,11.681720,13.819332,13.581956,14.394242,14.821289
145,Walker,NaN,10.904734,11.169657,11.196044,10.401474,11.594341,10.105223,11.177446,9.982461,10.011398,NaN,9.003636,10.087646,11.137245,10.543503,11.559167,11.519026
146,Walton,NaN,7.755018,7.685797,7.805380,7.903792,7.919313,7.093527,7.063051,7.935522,8.441937,NaN,9.084486,8.185684,8.625280,8.363044,9.517049,9.424723
147,Ware,NaN,12.894852,12.182338,12.430311,12.301106,12.314389,12.347431,12.536904,12.431343,12.267379,NaN,11.989086,12.046855,12.287242,12.251535,13.042254,12.001124
148,Warren,NaN,13.436611,15.390718,11.583012,11.694957,14.762569,15.342283,11.191183,8.555784,11.573674,NaN,13.566397,11.710433,14.389783,12.306579,12.411024,12.110092
149,Washington,NaN,10.217839,11.183287,10.554468,11.129421,11.123362,10.832468,11.263384,12.701608,12.214691,NaN,9.779719,9.597479,8.624220,10.320768,11.778051,11.051598
150,Wayne,NaN,9.356988,9.176349,9.073352,10.993551,9.066183,9.325896,9.971510,9.704259,10.145567,NaN,9.662475,9.455097,10.129599,10.928416,11.056779,10.730513
151,Webster,NaN,9.003215,15.435502,10.607735,9.663958,11.960133,12.075134,11.560694,5.821764,3.187614,NaN,6.459716,5.726557,5.460502,8.252063,3.798670,4.585403
152,Wheeler,NaN,9.800109,9.838795,8.588298,7.905138,9.237875,6.855951,6.758246,7.316359,6.621087,NaN,6.700803,8.637957,6.950588,8.440945,7.693763,8.566929
153,White,NaN,9.011642,9.892674,8.482944,10.366305,9.563074,9.539610,9.407185,10.041004,10.195176,NaN,8.754739,9.566941,9.063499,9.278997,9.852741,10.264288
154,Whitfield,NaN,8.082071,7.612263,8.906682,7.977663,8.246822,7.721752,8.030950,7.733770,7.575515,NaN,7.092474,7.611457,7.817615,7.902918,7.586493,7.882435
155,Wilcox,NaN,11.751152,10.088851,11.307257,12.195122,11.555350,12.521013,10.277136,10.538977,11.308380,NaN,12.357724,10.357556,12.146877,12.570146,8.919499,11.914894
156,Wilkes,NaN,13.544655,13.869233,12.541845,14.069110,13.482930,13.469645,11.874635,11.286792,12.826742,NaN,12.377913,15.007158,16.705847,11.477473,12.815338,14.216806
157,Wilkinson,NaN,10.721248,10.128555,10.974475,11.135199,10.491933,8.954333,9.476309,8.481341,10.752153,NaN,11.695290,11.361843,11.600928,12.687243,10.924233,15.012053
158,Worth,NaN,9.012495,8.322283,9.197517,9.542029,10.488212,10.115371,9.862578,9.287708,9.873989,NaN,9.382077,10.110423,9.703250,11.113750,10.016054,10.613663

In [58]:
#Non-Time Series Data
data = pd.read_csv('cleaned_GaCountiesODDeath.csv', na_values=[" ", ""] ,sep=',', index_col=0)
normalized_data = data/population

hospital = pd.read_csv('cleaned_GaHospitals.csv', na_values=[" ", ""] ,sep=',', index_col=0).fillna(0)
dropbox = pd.read_csv('drug_dropbox.csv', na_values=[" ", ""] ,sep=',').fillna(0)
hospital=hospital.rename(columns = {'Count':'hospital_count'})
dropbox=dropbox.rename(columns = {'COUNT':'dropbox_count'})
dropbox=dropbox.rename(columns = {'24Availability':'dropbox_247availability'})

In [39]:
#data[['Counties','Rural', '2016', '1yrlag', '2yrlag', '10yrlag']]
normalized_data['1yrlag']=(normalized_data['2016']-normalized_data['2015'])/normalized_data['2015']
normalized_data['5yrlag']=(normalized_data['2016']-normalized_data['2011'])/normalized_data['2011']
normalized_data['10yrlag']=(normalized_data['2016']-normalized_data['2006'])/normalized_data['2006']
normalized_data=normalized_data.replace([np.inf, -np.inf], np.nan)
normalized_data = normalized_data.fillna(0)

In [41]:
df = normalized_data[['County','Rural', '1yrlag', '5yrlag', '10yrlag','2016']].copy()

In [59]:
df1 = pd.concat([df, hospital['hospital_count'], dropbox['dropbox_247availability'], dropbox['dropbox_count']], axis=1)

In [60]:
df1.head(10)

,County,Rural,1yrlag,5yrlag,10yrlag,2016,hospital_count,dropbox_247availability,dropbox_count
0,Appling,1,0.000000,0.000000,0.000000,3,0,1,1
1,Atkinson,1,0.000000,0.000000,0.000000,1,0,0,0
2,Bacon,1,0.000000,-1.000000,-1.000000,0,0,0,1
3,Baker,1,-1.000000,0.000000,0.000000,0,0,0,1
4,Banks,1,0.333333,-0.333333,3.000000,4,2,1,1
5,Ben Hill,1,0.000000,0.000000,0.000000,1,0,0,1
6,Berrien,1,0.000000,0.000000,-0.666667,1,1,0,2
7,Bleckley,1,-0.666667,0.000000,0.000000,1,1,1,2
8,Brantley,1,0.400000,0.000000,2.500000,7,1,1,1
9,Brooks,1,0.000000,-0.500000,0.000000,1,1,0,1

In [74]:
crime['1yrlag']=(crime['2016']-crime['2015'])/crime['2015']
crime['5yrlag']=(crime['2016']-crime['2011'])/crime['2011']
crime['10yrlag']=(crime['2016']-crime['2006'])/crime['2006']

,County,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Appling,18,3,19,9,135,41,0,22,1,0,118,91,54,2,4
1,Atkinson,40,0,22,0,21,26,20,6,3,4,0,9,0,0,0
2,Bacon,26,2,29,2,1,14,17,28,2,0,0,0,0,2,0
3,Baker,10,1,18,1,3,3,9,26,5,0,0,2,3,7,0
4,Baldwin,465,14,524,0,393,293,353,494,514,520,547,363,425,339,403
5,Banks,179,1,218,2,155,104,20,115,154,141,180,231,210,250,77
6,Barrow,391,9,419,7,302,309,281,373,357,417,285,300,346,406,336
7,Bartow,573,1,957,26,574,438,465,670,753,621,703,802,715,729,690
8,Ben Hill,218,3,132,2,129,101,27,0,13,23,47,119,89,140,114
9,Berrien,79,1,3,152,37,64,69,56,61,66,81,82,52,46,43
10,Bibb,1670,0,2122,88,1729,1677,1242,1436,1740,1788,1762,1657,1611,1854,1816
11,Bleckley,62,5,134,1,76,60,74,66,53,28,70,61,62,93,130
12,Brantley,107,5,203,0,122,113,140,63,64,87,68,93,66,49,24
13,Brooks,220,0,212,7,87,75,64,95,107,82,67,73,62,50,34
14,Bryan,135,1,138,2,65,49,86,81,63,80,61,64,55,82,43
15,Bulloch,0,516,823,0,419,260,483,650,642,717,623,534,569,511,493
16,Burke,123,0,106,0,52,71,63,67,61,51,50,31,29,47,42
17,Butts,238,4,245,0,78,16,15,77,95,70,78,71,79,63,76
18,Calhoun,85,10,59,0,16,18,30,29,25,27,37,21,10,23,9
19,Camden,443,0,482,2,214,222,241,428,433,260,329,326,358,616,148
20,Candler,76,5,84,3,17,31,14,9,9,13,7,11,10,13,10
21,Carroll,300,7,821,11,323,662,724,809,921,1036,917,856,951,924,960
22,Catoosa,191,2,316,0,436,356,365,378,515,366,419,503,511,570,537
23,Charlton,83,1,98,0,32,30,68,99,79,55,105,44,46,35,66
24,Chatham,688,2196,3147,11,1484,1701,1791,2063,1975,2175,1979,1994,1734,1606,1737
25,Chattahoochee,34,1,30,0,21,9,0,0,0,0,14,2,4,9,1
26,Chattooga,1,23,32,0,12,10,2,30,48,29,43,48,76,64,77
27,Cherokee,436,7,425,0,197,183,305,529,745,678,706,770,694,934,777
28,Clarke,1683,0,1434,0,779,761,874,1013,1030,1039,1057,939,976,845,883
29,Clay,16,5,34,0,15,17,11,19,3,14,18,13,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,Talbot,4,1,4,0,0,4,0,0,4,18,8,36,22,25,13
130,Taliaferro,17,8,14,0,6,7,10,6,14,21,11,7,4,8,7
131,Tattnall,169,4,228,1,92,78,79,116,82,118,112,76,50,88,48
132,Taylor,67,3,0,3,21,37,24,27,47,43,36,22,47,20,11
133,Telfair,165,1,116,0,68,39,30,36,49,34,47,35,39,30,23
134,Terrell,148,1,84,4,51,29,27,39,28,41,37,42,38,60,46
135,Thomas,269,59,398,0,286,333,316,323,373,376,565,546,399,405,451
136,Tift,454,0,358,0,195,101,450,367,392,375,451,432,399,294,406
137,Toombs,389,0,250,1,93,126,206,189,181,208,239,172,215,194,187
138,Towns,51,2,40,1,20,27,34,40,26,30,30,24,23,28,34
139,Treutlen,45,0,0,64,54,62,50,60,76,34,29,24,17,22,11
140,Troup,822,0,75,726,509,448,434,514,661,706,503,596,552,595,636
141,Turner,140,5,88,6,72,51,67,51,37,82,70,64,81,193,62
142,Twiggs,53,3,5,13,12,79,84,11,22,52,40,40,28,37,30
143,Union,0,4,0,4,1,5,2,12,51,92,70,146,107,125,88
144,Upson,233,3,297,1,110,104,78,139,135,146,160,189,200,94,100
145,Walker,339,2,317,2,262,266,313,426,434,437,454,333,307,328,352
146,Walton,159,5,343,5,269,270,193,401,470,414,637,413,444,450,427
147,Ware,825,4,1019,0,461,376,492,512,445,437,553,424,430,484,427
148,Warren,20,1,10,0,0,0,6,0,4,0,2,15,12,4,0
149,Washington,233,10,130,19,0,71,83,84,87,71,92,85,72,67,69
150,Wayne,0,0,1,1,0,0,1,33,154,165,252,276,338,322,203
151,Webster,0,0,0,3,0,0,0,0,0,0,8,7,11,3,0
152,Wheeler,29,1,23,0,0,18,27,30,4,7,1,0,1,0,0
153,White,253,3,274,0,27,104,141,83,100,112,132,128,130,103,79
154,Whitfield,1191,0,1317,4,522,469,623,808,604,860,1115,994,1030,1100,1098
155,Wilcox,0,3,0,0,0,1,5,5,7,2,7,5,10,5,1
156,Wilkes,142,8,114,4,50,63,52,45,23,46,60,38,38,41,41
157,Wilkinson,77,1,98,4,31,47,42,44,53,56,71,40,31,38,31
158,Worth,170,12,144,8,49,40,80,135,143,94,131,119,109,95,70