In [1]:
from IPython.display import HTML
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import urllib2
import bs4
import time
import operator
import re 
    
%matplotlib inline
import seaborn as sns

In [37]:
data = pd.read_csv('cleaned_GaCountiesODDeath.csv', na_values=[" ", ""] ,sep=',', index_col=0)
hospital = pd.read_csv('cleaned_GaHospitals.csv', na_values=[" ", ""] ,sep=',', index_col=0)

In [43]:
df.head()

     County  Rural    1yrlag    5yrlag  10yrlag  2016
0   Appling      1  0.000000  0.000000        0     3
1  Atkinson      1  0.000000  0.000000        0     1
2     Bacon      1  0.000000 -1.000000       -1     0
3     Baker      1 -1.000000  0.000000        0     0
4     Banks      1  0.333333 -0.333333        3     4

In [39]:
#data[['Counties','Rural', '2016', '1yrlag', '2yrlag', '10yrlag']]
data['1yrlag']=(data['2016']-data['2015'])/data['2015']
data['5yrlag']=(data['2016']-data['2011'])/data['2011']
data['10yrlag']=(data['2016']-data['2006'])/data['2006']
data=data.replace([np.inf, -np.inf], np.nan)
data = data.fillna(0)

In [41]:
df = data[['County','Rural', '1yrlag', '5yrlag', '10yrlag','2016']].copy()

In [44]:
pd.concat([df, hospital['Count']], axis=1)

            County  Rural    1yrlag    5yrlag   10yrlag  2016  Count
0          Appling      1  0.000000  0.000000  0.000000     3      0
1         Atkinson      1  0.000000  0.000000  0.000000     1      0
2            Bacon      1  0.000000 -1.000000 -1.000000     0      0
3            Baker      1 -1.000000  0.000000  0.000000     0      0
4            Banks      1  0.333333 -0.333333  3.000000     4      2
5         Ben Hill      1  0.000000  0.000000  0.000000     1      0
6          Berrien      1  0.000000  0.000000 -0.666667     1      1
7         Bleckley      1 -0.666667  0.000000  0.000000     1      1
8         Brantley      1  0.400000  0.000000  2.500000     7      1
9           Brooks      1  0.000000 -0.500000  0.000000     1      1
10           Bryan      1 -1.000000  0.000000  0.000000     0      7
11           Burke      1  0.333333  3.000000  1.000000     4      1
12           Butts      1 -0.333333  0.333333  0.000000     4      0
13         Calhoun      1  0.000000  0.000000  0.000000     1      1
14         Candler      1 -0.500000  0.000000 -0.500000     1      0
15        Charlton      1 -0.666667  0.000000  0.000000     1      2
16   Chattahoochee      1  0.000000 -1.000000 -1.000000     0      0
17       Chattooga      1  0.750000  1.333333  1.333333     7      1
18            Clay      1  0.000000  0.000000  0.000000     1      0
19          Clinch      1  0.000000  0.000000  0.000000     1      1
20            Cook      1 -1.000000 -1.000000  0.000000     0      1
21        Crawford      1  0.000000 -0.500000  0.500000     3      3
22           Crisp      1  0.000000  0.000000 -0.500000     1      1
23            Dade      1 -1.000000 -1.000000 -1.000000     0      0
24          Dawson      1 -0.285714  1.500000  0.000000     5      7
25         Decatur      1  0.000000  0.000000  2.000000     3      0
26           Dodge      1  0.000000  1.000000  1.000000     4      0
27           Dooly      1  0.000000  0.000000 -0.500000     1      1
28           Early      1  0.000000  0.000000  0.000000     2      3
29          Echols      1 -1.000000  0.000000 -1.000000     0      0
..             ...    ...       ...       ...       ...   ...    ...
129        Fayette      0 -0.529412 -0.272727  0.600000     8      0
130          Floyd      0  0.333333 -0.058824  0.000000    16      0
131        Forsyth      0 -0.378378 -0.206897  1.300000    23      1
132         Fulton      0  0.186207  0.829787  1.072289   172      0
133          Glynn      0  0.272727  0.400000  0.076923    14      0
134         Gordon      0  2.666667  0.000000  1.200000    11      0
135       Gwinnett      0 -0.150000  0.734694  1.023810    85      2
136      Habersham      0  3.000000  0.000000  1.666667     8      1
137           Hall      0  0.250000  0.111111  0.500000    30      1
138          Henry      0  0.321429  0.121212  0.850000    37      1
139        Houston      0  0.000000  0.363636  1.500000    15      0
140        Jackson      0 -0.388889  0.100000  0.100000    11      1
141        Laurens      0  0.200000 -0.333333  1.000000     6      0
142        Liberty      0 -0.200000  1.000000 -0.333333     4      0
143        Lowndes      0  0.833333  0.375000  2.666667    11      1
144         Murray      0 -0.333333 -0.666667 -0.142857     6      1
145       Muscogee      0  0.214286 -0.150000  1.125000    17      0
146         Newton      0  0.272727 -0.066667  0.272727    14      1
147       Paulding      0  0.153846  0.304348  0.578947    30      1
148           Polk      0  0.142857 -0.111111  0.142857     8      0
149       Richmond      0  0.065217  1.130435  0.960000    49      1
150       Rockdale      0  0.583333  0.583333  0.583333    19      1
151       Spalding      0 -0.153846  0.375000  0.571429    11      0
152         Thomas      0  0.500000  2.000000  2.000000     3      0
153           Tift      0  0.000000  2.000000  2.000000     6      0
154          Troup      0 -0.230769 -0.285714  0.428571    10      1
155         Walker      0  0.375000 -0.083333  1.750000    11      0
156         Walton      0 -0.157895  1.666667  1.666667    16      1
157           Ware      0  0.250000 -0.444444  1.500000     5      0
158      Whitfield      0 -0.333333 -0.384615  1.666667     8      1

[159 rows x 7 columns]