In [2]:
from IPython.display import HTML
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import urllib2
import bs4
import time
import operator
import re 
    
%matplotlib inline
import seaborn as sns

### I. GA Counties OD Death 1999-2016

In [84]:
#data = pd.read_csv('GaCountiesDeath.csv', na_values=[" ", ""] ,sep=',', index_col='Counties', names=['Counties' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
#if want to index by counties
data = pd.read_csv('GaCountiesDeath.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data = data.fillna(0).reset_index(drop=True)
data["Rural"] = 1
data["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Counties,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,Total,Rural
107,Worth,0,0,0,1,1,0,4,2,2,...,3,0,0,0,1,2,4,6,26,0
108,Baldwin,0,1,1,3,1,5,4,3,1,...,8,1,2,1,5,5,2,0,48,1
109,Barrow,2,5,5,2,8,5,5,9,9,...,9,13,8,10,8,14,9,13,146,1

In [108]:
data.to_csv('cleaned_GaCountiesODDeath.csv')

## II. GA Counties Opioid OD Death 1999-2016

In [104]:
data1 = pd.read_csv('GADeathOpioids.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data1 = data1.fillna(0).reset_index(drop=True)
data1["Rural"] = 1
data1["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [106]:
data1.head(2)

,Counties,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,Total,Rural
0,Appling,0,0,0,0,0,0,0,0,1,...,0,0,3,2,1,1,1,3,12,1
1,Atkinson,0,0,0,0,0,0,1,0,0,...,1,1,1,2,1,1,0,1,9,1

In [107]:
data1.to_csv('cleaned_GaCountiesOpioidODDeath.csv')

## III. GA Counties Heroin or Pain Reliever OD Death 1999-2016

In [109]:
data2 = pd.read_csv('GAHeroinPainRelieverODDeath.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data2 = data2.fillna(0).reset_index(drop=True)
data2["Rural"] = 1
data2["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [111]:
data2.head(4)

,Counties,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,Total,Rural
0,Appling,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Atkinson,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Bacon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Baker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [112]:
data2.to_csv('cleaned_GAHeroinPainRelieverODDeath.csv')

## IV. GA Counties Unknown Opioid OD Death 1999-2016

In [113]:
data3 = pd.read_csv('GAUnknownODDeath.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data3 = data3.fillna(0).reset_index(drop=True)
data3["Rural"] = 1
data3["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [115]:
data3.head(2)

,Counties,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,Total,Rural
0,Appling,0,0,0,0,0,0,0,0,0,...,0,0,2,2,1,0,1,0,6,1
1,Atkinson,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [116]:
data3.to_csv('cleaned_GAUnknownODDeath.csv')

## V. GA Counties Opioid OD Death Male v. Female 1999-2016

In [154]:
data4 = pd.read_csv('GAOpioidDeathMale.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data4 = data4.fillna(0).reset_index(drop=True)
data4["Rural"] = 1
data4["Rural"][108:159]= 0

data5 = pd.read_csv('GAOpioidDeathFemale.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data5 = data5.fillna(0).reset_index(drop=True)
data5["Rural"] = 1
data5["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [119]:
data4.to_csv('cleaned_GAOpioidDeathMale.csv')
data5.to_csv('cleaned_GAOpioidDeathFemale.csv')

# Part II. Hospitals in GA by counties

In [131]:
hospitals = pd.read_csv('GAHospitals.csv', na_values=[" ", ""] ,sep=',', names=["Name", "County", "Beds"] )[2:].fillna(0).reset_index(drop=True)
#remove children's hospital
hospitals=hospitals[hospitals.Name.str.contains("Children") == False]

In [173]:
grouped_hospitals = hospitals.groupby("County").agg('count').reset_index(drop=False)
grouped_hospitals = grouped_hospitals[['County', 'Name']]
grouped_hospitals.columns = ['County', 'Count']

In [175]:
#List of Counties and Rural (bin indicator)
Counties_List = data5[["County", "Rural"]].copy()

In [178]:
result = pd.merge(Counties_List, grouped_hospitals, how='left', on="County", left_on=None, right_on=None,
         left_index=False, sort=True).fillna(0)

In [185]:
len(result.County.unique())

159

In [182]:
result.to_csv('cleaned_GAHospitals.csv')

In [202]:
dropbox = pd.read_csv('drug_dropbox.csv', na_values=[" ", ""] ,sep=',')
dropbox = dropbox.drop("AVAILABLE24/7")
    
# dropbox["AVAILABLE 24/7"][dropbox["AVAILABLE 24/7"] == True] = 1
# dropbox["AVAILABLE 24/7"][dropbox["AVAILABLE 24/7"] == False] = 0

ValueError: labels ['AVAILABLE24/7'] not contained in axis

In [203]:
dropbox

#join='outer'
#outerjoin with data1

            COUNTY  COUNT AVAILABLE24/7  24Availability
0          Appling      1          True               1
1         Atkinson      0         False               0
2            Bacon      1         False               0
3            Baker      1         False               0
4          Baldwin      1          True               1
5            Banks      1         False               0
6           Barrow      2         False               0
7           Bartow      2          True               1
8         Ben Hill      1          True               1
9          Berrien      1         False               0
10            Bibb      1         False               0
11        Bleckley      1         False               0
12        Brantley      1         False               0
13          Brooks      1         False               0
14           Bryan      1         False               0
15         Bulloch      5         False               0
16           Burke      1         False               0
17           Butts      1          True               1
18         Calhoun      1         False               0
19          Camden      2         False               0
20         Candler      1         False               0
21         Carroll      3          True               1
22         Catoosa      2          True               1
23        Charlton      1         False               0
24         Chatham      3         False               0
25   Chattahoochee      1          True               1
26       Chattooga      1         False               0
27        Cherokee      4         False               0
28          Clarke      2          True               1
29            Clay      2         False               0
..             ...    ...           ...             ...
129         Talbot      1         False               0
130     Taliaferro      0         False               0
131       Tattnall      1          True               1
132         Taylor      1         False               0
133        Telfair      1         False               0
134        Terrell      1         False               0
135         Thomas      1         False               0
136           Tift      1         False               0
137         Toombs      1         False               0
138          Towns      1          True               1
139       Treutlen      1         False               0
140          Troup      3         False               0
141         Turner      1         False               0
142         Twiggs      1         False               0
143          Union      1          True               1
144          Upson      1          True               1
145         Walker      1          True               1
146         Walton      1         False               0
147           Ware      2         False               0
148         Warren      1         False               0
149     Washington      1         False               0
150          Wayne      1         False               0
151        Webster      1         False               0
152        Wheeler      1          True               1
153          White      1          True               1
154      Whitfield      1          True               1
155         Wilcox      1         False               0
156         Wilkes      0         False               0
157      Wilkinson      1          True               1
158          Worth      1         False               0

[159 rows x 4 columns]

In [ ]:
# users = pd.read_csv(
#     'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
#     sep='|', names=u_cols)

# users.head()

# print movies.dtypes
# print
# print movies.describe()

In [ ]:
# url = 'http://www.crummy.com/software/BeautifulSoup'
# source = urllib2.urlopen(url).read()

# ## get bs4 object
# soup = bs4.BeautifulSoup(source)