In [2]:
from IPython.display import HTML
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

import urllib2
import bs4
import time
import operator
import re 
    
%matplotlib inline
import seaborn as sns

### I. GA Counties OD Death 1999-2016

In [84]:
#data = pd.read_csv('GaCountiesDeath.csv', na_values=[" ", ""] ,sep=',', index_col='Counties', names=['Counties' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
#if want to index by counties
data = pd.read_csv('GaCountiesDeath.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data = data.fillna(0).reset_index(drop=True)
data["Rural"] = 1
data["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Counties,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,Total,Rural
107,Worth,0,0,0,1,1,0,4,2,2,...,3,0,0,0,1,2,4,6,26,0
108,Baldwin,0,1,1,3,1,5,4,3,1,...,8,1,2,1,5,5,2,0,48,1
109,Barrow,2,5,5,2,8,5,5,9,9,...,9,13,8,10,8,14,9,13,146,1

In [108]:
data.to_csv('cleaned_GaCountiesODDeath.csv')

## II. GA Counties Opioid OD Death 1999-2016

In [104]:
data1 = pd.read_csv('GADeathOpioids.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data1 = data1.fillna(0).reset_index(drop=True)
data1["Rural"] = 1
data1["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [106]:
data1.head(2)

,Counties,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,Total,Rural
0,Appling,0,0,0,0,0,0,0,0,1,...,0,0,3,2,1,1,1,3,12,1
1,Atkinson,0,0,0,0,0,0,1,0,0,...,1,1,1,2,1,1,0,1,9,1

In [107]:
data1.to_csv('cleaned_GaCountiesOpioidODDeath.csv')

## III. GA Counties Heroin or Pain Reliever OD Death 1999-2016

In [109]:
data2 = pd.read_csv('GAHeroinPainRelieverODDeath.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data2 = data2.fillna(0).reset_index(drop=True)
data2["Rural"] = 1
data2["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [111]:
data2.head(4)

,Counties,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,Total,Rural
0,Appling,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,Atkinson,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,Bacon,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,Baker,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [112]:
data2.to_csv('cleaned_GAHeroinPainRelieverODDeath.csv')

## IV. GA Counties Unknown Opioid OD Death 1999-2016

In [113]:
data3 = pd.read_csv('GAUnknownODDeath.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data3 = data3.fillna(0).reset_index(drop=True)
data3["Rural"] = 1
data3["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [115]:
data3.head(2)

,Counties,1999,2000,2001,2002,2003,2004,2005,2006,2007,...,2009,2010,2011,2012,2013,2014,2015,2016,Total,Rural
0,Appling,0,0,0,0,0,0,0,0,0,...,0,0,2,2,1,0,1,0,6,1
1,Atkinson,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [116]:
data3.to_csv('cleaned_GAUnknownODDeath.csv')

## V. GA Counties Opioid OD Death Male v. Female 1999-2016

In [154]:
data4 = pd.read_csv('GAOpioidDeathMale.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data4 = data4.fillna(0).reset_index(drop=True)
data4["Rural"] = 1
data4["Rural"][108:159]= 0

data5 = pd.read_csv('GAOpioidDeathFemale.csv', na_values=[" ", ""] ,sep=',', names=['County' ,1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 'Total'] )[2:-2]
data5 = data5.fillna(0).reset_index(drop=True)
data5["Rural"] = 1
data5["Rural"][108:159]= 0

/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [119]:
data4.to_csv('cleaned_GAOpioidDeathMale.csv')
data5.to_csv('cleaned_GAOpioidDeathFemale.csv')

# Part II. Hospitals in GA by counties

In [222]:
hospitals = pd.read_csv('GAHospitals.csv', na_values=[" ", ""] ,sep=',', names=["Name", "County", "Beds"] ).fillna(0)
#remove children's hospital
hospitals=hospitals[hospitals.Name.str.contains("Children") == False]

In [224]:
grouped_hospitals = hospitals.groupby("County").agg('count').reset_index(drop=False)
grouped_hospitals = grouped_hospitals[['County', 'Name']]
grouped_hospitals.columns = ['County', 'Count']

In [225]:
#List of Counties and Rural (bin indicator)
Counties_List = data5[["County", "Rural"]].copy()

In [226]:
result = pd.merge(Counties_List, grouped_hospitals, how='left', on="County", left_on=None, right_on=None,
         left_index=False, sort=True).fillna(0)

In [208]:
len(result.County.unique())

159

In [228]:
result.to_csv('cleaned_GAHospitals.csv')

#Part III. EMS in GA by counties

In [234]:
ems = pd.read_csv('ems_count_by_city.csv', na_values=[" ", ""] ,sep=',').fillna(0)
converter = pd.read_csv('city_to_county.csv', na_values=[" ", ""] ,sep=',').fillna(0)

In [275]:
#EMS = ems.concat(converter, how='right', on="City")
EMS = pd.concat([ems, converter], axis=1, join='outer')

In [276]:
converter['COUNT']=[x for x in ems['EMS_COUNT '] if x in noprimes]

              City  EMS_COUNT           City          Counties
0           ALBANY          3      Abbeville            Wilcox
1             ALMA          1        Acworth              Cobb
2       ALPHARETTA          1    Adairsville           Bartow
3          ASHBURN          1           Adel              Cook
4           ATHENS          3         Adrian           Emanuel
5          ATLANTA          4          Ailey        Montgomery
6          AUGUSTA          4          Alamo           Wheeler
7          AUSTELL          2        Alapaha           Berrien
8       BAINBRIDGE          1         Albany         Dougherty
9           BAXLEY          4         Aldora             Lamar
10      BIRMINGHAM          1     Allenhurst           Liberty
11      BLACKSHEAR          1      Allentown         Wilkinson
12     BLAIRSVILLE          1           Alma             Bacon
13         BLAKELY          1     Alpharetta            Fulton
14      BLUE RIDGE          1         Alston        Montgomery
15       BRASELTON          1           Alto         Habersham
16          BREMEN          1        Ambrose            Coffee
17       BRUNSWICK          1       Americus            Sumter
18     BUENA VISTA          1  Andersonville            Sumter
19          BUFORD          1          Arabi             Crisp
20          BUTLER          1         Aragon              Polk
21           BYRON          1         Arcade           Jackson
22           CAIRO          1         Argyle            Clinch
23         CALHOUN          1      Arlington           Calhoun
24         CAMILLA          1        Ashburn            Turner
25          CANTON          1         Athens     Athens-Clarke
26     CARNESVILLE          1        Atlanta            Fulton
27      CARROLLTON          1     Attapulgus           Decatur
28    CARTERSVILLE          1         Auburn            Barrow
29   CEDAR SPRINGS          1        Augusta  Augusta-Richmond
..             ...        ...            ...               ...
494            NaN        NaN  Walthourville           Liberty
495            NaN        NaN   Warm Springs        Meriwether
496            NaN        NaN  Warner Robins           Houston
497            NaN        NaN      Warrenton            Warren
498            NaN        NaN        Warwick             Worth
499            NaN        NaN     Washington            Wilkes
500            NaN        NaN   Watkinsville            Oconee
501            NaN        NaN   Waverly Hall            Harris
502            NaN        NaN       Waycross              Ware
503            NaN        NaN     Waynesboro             Burke
504            NaN        NaN     West Point             Troup
505            NaN        NaN        Whigham             Grady
506            NaN        NaN          White            Bartow
507            NaN        NaN   White Plains            Greene
508            NaN        NaN     Whitesburg           Carroll
509            NaN        NaN   Willacoochee          Atkinson
510            NaN        NaN     Williamson              Pike
511            NaN        NaN         Winder            Barrow
512            NaN        NaN    Winterville     Athens-Clarke
513            NaN        NaN       Woodbine            Camden
514            NaN        NaN       Woodbury        Meriwether
515            NaN        NaN       Woodland            Talbot
516            NaN        NaN      Woodstock          Cherokee
517            NaN        NaN      Woodville            Greene
518            NaN        NaN        Woolsey           Fayette
519            NaN        NaN          Wrens         Jefferson
520            NaN        NaN   Wrightsville           Johnson
521            NaN        NaN     Yatesville             Upson
522            NaN        NaN   Young Harris             Towns
523            NaN        NaN        Zebulon              Pike

[524 rows x 4 columns]

In [261]:
len(converter)

524

In [ ]:
# users = pd.read_csv(
#     'http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
#     sep='|', names=u_cols)

# users.head()

# print movies.dtypes
# print
# print movies.describe()

In [ ]:
# url = 'http://www.crummy.com/software/BeautifulSoup'
# source = urllib2.urlopen(url).read()

# ## get bs4 object
# soup = bs4.BeautifulSoup(source)